{
  "root": true,
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:security-node/recommended"
  ],
  "plugins": [
    "prettier",
    "@typescript-eslint",
    "unused-imports",
    "security-node"
  ],
  "rules": {
    "eqeqeq": "error",
    "@typescript-eslint/ban-types": "off",
    "linebreak-style": ["error", "unix"],
    "prettier/prettier": "error",
    "unused-imports/no-unused-imports": "error",
    "unused-imports/no-unused-vars": [
      "warn",
      {
        "vars": "all",
        "varsIgnorePattern": "^_",
        "args": "after-used",
        "argsIgnorePattern": "^_"
      }
    ]
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": "latest"
  },
  "env": {
    "node": true,
    "es6": true,
    "jest": true
  },
  "ignorePatterns": [
    "node_modules",
    "dist"
  ]
}
